.footer{
    background-color: #F2F2F2;
    height: 100px;
    width: auto;
    display: flex;
    justify-content: start;
    padding-left: 300px;
    align-items: center;
    margin-top: 70px;
    
    
}

.footer_element{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer_img{
    width: 32px;
    height: 32px;
    align-items: center;
}
.footer_text{
    font-size: 8px;
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
    color: #000000;
    font-family: "Roboto", sans-serif;
    margin-left: 10px;
}